.container {
    background: violet;
    margin-top: 20px;
}

.uno{
    background: aqua;
}
.dos{
    background: bisque;
}
.ancho{
    background: lightcoral;
}
.n{
    background: greenyellow;
}
.e{
    background: palevioletred;
}
.ne{
    background: sandybrown;
}
.no{
    background: blueviolet;
}
